name: Build & Run Tests

on:
  pull_request:
    branches: [ "main", "dev", "release" ]
  push:
    branches: [ "main", "dev", "release" ]
  workflow_dispatch:

jobs:
  build-and-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        config: [Debug, Release]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Initialize submodules
        run: git submodule update --init --recursive

      - name: Configure CMake
        shell: bash
        run: |
          cmake -S . -B build

      - name: Build Tests
        shell: bash
        run: |
          cmake --build build --target UnitTests --config ${{ matrix.config }} --parallel
          cmake --build build --target IntegrationTests --config ${{ matrix.config }} --parallel


      - name: Run Tests
        shell: bash
        working-directory: build
        run: |
          ctest -C ${{ matrix.config }} -R Tests --output-on-failure